<ion-header>
  <ion-toolbar>
    <ion-title>
      Kotak Saran
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Saran/Ide Tutorial</ion-label>
    <ion-textarea placeholder="Masukkan Ide Tutorial Kamu disini..." [(ngModel)]="ide">
    </ion-textarea>
    <ion-button (click)="tambahIde()">Default</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let ide of items | async">
      <ion-label>{{ide.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
